:root {
  --lt-gray:hsl(0, 0%, 92%);
  --dark-gray: hsl(0, 0%, 59%);
  --very-dark-gray: hsl(0, 0%, 17%);
  --blue: hsl(228, 45%, 44%);
  font-size: 1.35vw;
}

.leaflet-marker-icon {
  display: inline-block;
  content: url(./images/icon-location.svg);
  width: 3.75em !important;
  height: 4.75em !important;
}


/* App.js */
.map-main {
  min-height: 67vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

/* Header */
.header {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 25;

}

.title,
.ip-form {
  margin-top: 1.5rem;
}

.title {
  color: var(--lt-gray);
  font-size: 1.875rem;
}

/* Details */
.details-box {
  position: absolute;
  bottom: -3.75rem;
  width: 60rem;
  padding: 1.25rem 1.875rem;
  background-color: white;
  border-radius: .625rem;
  height: 8.125rem;
  border: grey solid 1px;
  z-index: 20;
  box-shadow: 4px 6px 20px 1px rgba(0, 0, 0, 0.404);
}

.leaflet-control-zoom.leaflet-bar.leaflet-control{
  box-shadow: 4px 6px 10px 1px rgba(0, 0, 0, 0.253);
}
.details {
  display: flex;
  justify-content: space-between;
  color: var(--very-dark-gray)
}

.ip-address-box {
  width: 25rem;
  height: 3.125rem;
  border-top-left-radius: .625rem;
  border-bottom-left-radius: .625rem;
  font-size: 1.25rem;
  padding: 10px;
}

.ip-button {
  height: 3.125rem;
  width: 3.125rem;
  border-top-right-radius: .625rem;
  border-bottom-right-radius: .625rem;
  background-color: var(--very-dark-gray);
}


.list-title {
  font-weight: 500;
  font-size: .875rem;
  color: var(--dark-gray);
  list-style-type: none;

}

.list-item {
  padding-top: .625rem;
  font-size: 1.25rem;
  font-weight: 500;
  height: 3.125rem;
  width: 12.5rem;
  list-style-type: none;
}
.list-border {
  border-right: 2px solid var(--lt-gray);
}

/* Footer */
.attribution {
  font-size: .6875rem;
  text-align: center;
  color: var(--dark-gray);
}
.attribution a {
  color: var(--blue);
}

/* Map */
#map { 
  height: 68vh;
  position: relative;
  z-index:10 ;
 }


 @media screen and (max-width:1024px ) {
   :root{
    font-size: 13px;
   }
   .header {
    height: 20vh;
   }
   #map{
     height: 79vh;
   }
 }

 @media screen and (max-width:820px ) {
  :root{
   font-size: 11px;
  }
  
}

@media screen and (max-device-width: 480px) and 

( -webkit-max-device-pixel-ratio: 3),
( max--moz-device-pixel-ratio: 3),
( -o-max-device-pixel-ratio: 3/1),
( max-device-pixel-ratio: 3) and
( max-resolution: 192dpi) and
( max-resolution: 2dppx)
{
 
  .details { 
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .details-box {
    position: relative;
    bottom: -28px;
    width: 25rem;
    padding: 1.5rem;
    height: 32rem;
    border-radius: 1.625rem;
    font-size: 14px;

  }

  .ip-address-box {
    width: 21rem;
    height: 4.125rem;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    font-size: 1.15rem;
    padding: 10px;
    border: 0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      px;
  }
  .ip-button {
    height: 4.125rem;
    width: 4.125rem;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    border: 0px;
  }
  
  .header {
    height: 250px;
    justify-items: space-between;
   }

   #map{
     height: 68vh;
   }

   .list-border {
    border-right: 0px;
  }
  .list-item{
    font-size: 15px;
    padding: 0;
    width: 20rem;

  }
  .list-title{
    margin-top: 10px;
  }
  .leaflet-control-zoom{
    display: none;
  }
}