:root {
  --lt-gray:hsl(0, 0%, 83%);
  --dark-gray: hsl(0, 0%, 59%);
  --very-dark-gray: hsl(0, 0%, 17%);
  --blue: hsl(228, 45%, 44%);
}

/* App.js */
.map-main {
  min-height: 67vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

/* Header */
.header {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/pattern-bg.png");
  position: relative;
  z-index: 25;
}

.title,
.ip-form {
  margin-top: 24px;
}

.title {
  color: lightgray;
  font-size: 30px;
}

/* Coordinates */
.coordinates-box {
  position: absolute;
  bottom: -60px;
  width: 960px;
  padding: 20px 30px;
  background-color: white;
  border-radius: 10px;
  height: 130px;
  border: grey solid 1px;
  z-index: 100;
}
.coordinates {
  display: flex;
  justify-content: space-between;
  color: var(--very-dark-gray)
}

.ip-address-box {
  width: 400px;
  height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 18px;
  text-align: center;
}

.ip-button {
  height: 50px;
  width: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--very-dark-gray);
}

.list-title {
  font-weight: 700;
  font-size: 15px;
  color: var(--dark-gray);
}

.list-item {
  padding-top: 10px;
  font-size: 23px;
  font-weight: 500;
  height: 50px;
  width: 200px;
  list-style-type: none;
}
.list-border {
  border-right: 2px solid var(--lt-gray);
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--dark-gray);
}
.attribution a {
  color: var(--blue);
}

/* Map */
#map { 
  height: 68vh;
  position: relative;
  z-index:-1 ;
 }